/* Estilos específicos para el componente Banner */

.banner {
    background-image: url('https://pixabay.com/es/images/search/paneles%20solares/');
    background-size: cover;
    background-position: center;
    padding: 50px 0;
    text-align: center;
    color: white;
  }
  
  .banner h1 {
    font-size: 3em;
    margin-bottom: 20px;
  }
  
  .banner p {
    font-size: 1.2em;
    line-height: 1.5;
  }
  
  .banner button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  